[Unit]
Description=Blueberry
After=network-online.target

[Service]
Type=simple
User=blueberry
Group=blueberry
WorkingDirectory={{ blueberry_dir }}
ExecStart=/usr/bin/python3 ./src/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
