# @Author: michael
# @Date:   02-Jun-2019
# @Filename: config.py
# @Last modified by:   michael
# @Last modified time: 31-Dec-2019
# @License: GNU GPL v3


# Il faut completer ce fichier puis le renommer config.py

# Tokens du Bot Telegram
bot_token = "{{ blueberry_telegram_token }}"

# Utilisateurs
# Liste des utilisateurs qui seront autorisés à utiliser votre bot.
# Correspond également aux utilisateurs qui recevront les alertes.
# Les autres personnes seront refoulés par le bot.
user = {{ blueberry_telegram_users }}

# Log
# Position du fichier de Log
log = "{{ blueberry_dir }}/log/blueberry.log"
# Espace ou est installé blueberry
# Cette variable ne sert que pour l'installation pour construire le fichier
# blueberry.service
work_dir = "{{ blueberry_dir }}/"

# Cette variable n'est utilisé que pour le développement.
# Ne pas la commenter pour que le fabfile fonctionne.
hosts = ['michael@192.168.1.10:2222']
hosts_dir = "/home/blueberry/blueberry"

# Les différents fichier ou sont installés les résultats des services suivant:
# nids
suricata_log = "{{ blueberry_suricata_log }}"

# Logwatch report
logwatch_report = "/var/cache/logwatch/report"

# Arpwatch mail report
arpwatch_mail = "/var/lib/arpwatch/arpwatch-mail.log"

# Blueberry ne fait que regarder régulièrement les fichiers définis précédemment
# Les fréquences ci-dessous définissent les fréquences de scan et d'alerting
# Plus les fréquences sont élevés plus l'application va charger le système
# Fréquence d'alerting de suricata en secondes
freq_nids = {{ blueberry_freq_nids }}

# La fréquence d'alerting pour arpwatch est journalière.
# En effet, il a été décidé que sur un réseau local l'ajout d'une machine n'est pas
# critique et par conséquent un compte rendu journalier est suffisant.
# Cette variable défini l'heure du compte rendu
freq_arpwatch = "{{ blueberry_freq_arpwatch }}"

# La fréquence d'alerting pour logwatch est journalière.
# En effet, logwatch ne peut faire au mieux que des rapport journalier
# Cette variable défini l'heure du compte rendu
freq_logwatch = "{{ blueberry_freq_logwatch }}"

# Virustotal api Key
virustotal_key = "{{ blueberry_virustotal_key }}"
# Whois key
whois_key = "{{ blueberry_whois_key }}"
